extend layout
block content
  h1(class='vivarium') Mosaic Vivarium
  p
    | Mosaic Vivarium helps facility managers and
    | investigators make timely, intelligent and cost
    | saving decisions about laboratory animal
    | resources
  p
    | Get instant answers on cage density, mating
    | productivity, colony aging, IACUC counts, per
    | diems and more. With a secure Mosaic online account,
    | you can take charge today, room-by-room,
    | rack-by-rack, at your pace.
  h1(class='invivo') Mosaic InVivo
  p
    | How competitive are your study management
    | practices?
  p
    | Today's innovative and visionary organizations
    | are transitioning from spreadsheet and paper-
    | based processes to electronic study management
    | solutions.
  p
    | Make study management as easy as:
    | Define -> Execute -> Analyze -> Publish
  h1(class='plateassay') Mosaic PlateAssay
  p
    | Are you drowing in plate-based screening data?
  p
    | With Mosaic PlateAssay you spend time
    | understanding and interpreting your results rather
    | than wading through hudreds of data files and
    | manually analyzing your experiments
  p
    | Flexible and adaptable! The software is easily
    | extended to your unique assays and analyisis
    | methods.
block sidebar
  .widget
    h1 Social
    ul
      li
        != icon('github-square')
        a(href='http://github.com')  Github
      li
        != icon('reddit-square')
        a(href='http://reddit.com')  reddit
      li
        != icon('facebook-square')
        a(href='http://facebook.com')  Facebook
      li
        != icon('twitter-square')
        a(href='http://twitter.com')  Twitter
      li
        != icon('google-plus-square')
        a(href='http://plus.google.com')  Google Plus
